@model PortalMonti.Domain.Model.Chat

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>

    <link rel="stylesheet" href="~/css/site2.css">

</head>

<body>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/chatroom.css" rel="stylesheet" />

    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <ul class="list-unstyled chat-list mt-2 mb-0">
                            <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Vincent Porter</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                                </div>
                            </li>
                            <li class="clearfix active">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Aiden Chavez</div>
                                    <div class="status"> <i class="fa fa-circle online"></i> online </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Mike Thomas</div>
                                    <div class="status"> <i class="fa fa-circle online"></i> online </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Christian Kelly</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i> left 10 hours ago </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Monica Ward</div>
                                    <div class="status"> <i class="fa fa-circle online"></i> online </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Dean Henry</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i> offline since Oct 28 </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="~/upload/@ViewBag.UserToChat.ImageProfile" alt="avatar">
                                    </a>
                                    <div class="chat-about">

                                        <h6 class="m-b-0">@ViewBag.UserToChat.Email</h6>
                                        <small>
                                            Aktywny 10 minut temu..
                                        </small>
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history" id="chat-history">
                            @if (Model.Messages == null)
                            {
                            <div>adsfasdasdas</div>
                            }
                            else
                            {
                            @foreach (var message in Model.Messages)
                                {
                                    if (message.Name==ViewBag.User.Email)
                                    {
                            <ul class="m-b-0">

                                <li class="clearfix">
                                    <div class="message-data text-right">
                                        <span class="message-data-time">@message.Timestamp</span>
                                    </div>
                                    <div class="message other-message float-right">@message.Text</div>
                                </li>
                            </ul>
                                    }
                                    else
                                    {


                            <ul class="m-b-0">
                                <li class="clearfix">
                                    <div class="message-data">
                                        <img src="~/upload/@ViewBag.UserToChat.ImageProfile" alt="avatar">
                                        <span class="message-data-time">@message.Timestamp</span>

                                    </div>
                                    <div class="message my-message"> @message.Text </div>
                                </li>

                            </ul>
                                    }
                            @*<div class="message">
                                    <header>@message.Name</header>
                                    <p>@message.Text</p>
                                    <footer>@message.Timestamp</footer>
                                </div>*@
                                }
                            }

                        </div>
                        <div class="chat-message clearfix">

                            <form class="input-group mb-0" onsubmit="sendMessage(event)">
                                <div class="input-group-prepend">
                                    <input type="hidden" name="chatId" value="@Model.Id">
                                    <input type="hidden" name="roomName" value="@Model.Name">

                                    <button class="input-group-text" type="submit"><i class="fa fa-send"></i></button>
                                </div>
                                <input type="text" name="message" id="message-input" class="form-control">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main">

        @*@await Component.InvokeAsync("Room")*@

        @*<div class="side-menu">


            @foreach (var friend in ViewBag.friends)
            {
                <a class="room-button" asp-controller="Home" asp-action="ChatPrv" asp-route-appUserId="@friend.AuthorId">
                    @friend.Email
                </a>

            }*@

        @*</div>*@

        <div class="chat">
            <div class="chat-body">
                @if (Model.Messages == null)
                {
                <div>adsfasdasdas</div>
                }
                else
                {
                @foreach (var message in Model.Messages)
                    {
                <div class="message">
                    <header>@message.Name</header>
                    <p>@message.Text</p>
                    <footer>@message.Timestamp</footer>
                </div>
                    }
                }



            </div>
        </div>
    </div>
    <input type="hidden" id="UserEmail" value="@ViewBag.UserToChat.Email">

    @*asp-controller="Home" asp-action="CreateMessage"*@
    <form class="chat-input" onsubmit="sendMessage(event)">
        <input type="hidden" name="chatId" value="@Model.Id">
        <input type="hidden" name="roomName" value="@Model.Name">
        <input type="text" name="message" id="message-input">
        <button type="submit">Wyslij</button>
    </form>




    @*<div class="modal" id="create-room-modal">

            <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
                <button onclick="closeModal()" type="button" class="close">X</button>
                <header>Utwórz Pokój</header>
                <div><input name="name" /></div>
                <footer>
                    <button>Utwórz</button>
                </footer>

            </form>
        </div>*@



    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <script>
        var d = $('#chat-history');
        d.scrollTop(d.prop("scrollHeight")); //Przewijanie diva z wiadomosciami na sam doł

        var UserLogin = $("#UserEmail").val();  //pobieranie e-mail usera(z div id="UserEmail") zeby ustawic style wiadomosci
        alert(UserLogin);

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();

        var _connectionId = '';



        connection.on("RecieveMessage", function (data) {
            console.log(data);
            var message = document.createElement("div")
            message.classList.add('message')
          

            var header = document.createElement("header")
            header.appendChild(document.createTextNode(data.name))

            var p = document.createElement("p")
            p.appendChild(document.createTextNode(data.text))

            var footer = document.createElement("footer")
            footer.appendChild(document.createTextNode(data.timestamp))

            message.appendChild(header);
            message.appendChild(p);
            message.appendChild(footer);

            var body = document.querySelector('.chat-history')
            body.append(message);
            d.scrollTop(d.prop("scrollHeight"));

        })


        var joinRoom = function () {
            var url='/Chat/JoinRoom/'+ _connectionId+'/@Model.Name'
            axios.post(url, null)
                .then(res => {
                    console.log("dolaczono do pokoju!", res);
                })
                .catch(err => {
                    console.err("nieudalo sie dolaczyc do pokoju", res);
                })
        }
        connection.start()
            .then(function () {
                connection.invoke('GetConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId

                        joinRoom();
                    })
            })
            .catch(function (err) {
                console.log(err)
            })


        var sendMessage = function (event) {
            event.preventDefault();
            var data = new FormData(event.target);

            document.getElementById('message-input').value = '';   //czysczenie inputu "message"

            axios.post('/Chat/SendMessage', data)
                .then(res => {
                    console.log("wiadomosc wyslana")
                })
                .catch(err => {
                    console.log("nie udalo sie wyslac")
                })
        }

    </script>
    <script src="~/js/site.js"></script>

</body>

</html>


