@using Microsoft.AspNetCore.Identity
@inject SignInManager<PortalMonti.Domain.Model.AppUser> SignInManager
@inject UserManager<PortalMonti.Domain.Model.AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortalMonti.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

    @*<link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/mdb/css/mdb.min.css" rel="stylesheet">
    @*<link href="~/mdb/css/style.css" rel="stylesheet">*@

    <link href="~/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <style>


        #top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
        }
    </style>
</head>
<body>
    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container">
                @*//usunalem klase container-fluid a dodalem samo container*@
                <!-- Toggle button -->
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="@Url.Action("Index","Post")">
                        <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
                             height="15"
                             alt=""
                             loading="lazy" />
                    </a>
                    <!-- Left links -->

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ListUsers">Lista użytkowników</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Notifications">Powiadomienia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Image" asp-action="Index">Zdjęcia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">Posty</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark font-weight-bold">
                                
                                Online Users (with Cookies) : <span>@OnlineUsersMiddleware.GetOnlineUsersCount()</span>
                            </span>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Wyloguj</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
                            </li>
                        }


                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
                <!-- Right elements -->

                <partial name="_LoginPartial" />












                <!--<div class="d-flex align-items-center">-->
                <!-- Icon -->
                <!--<a class="text-reset me-3" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>-->
                <!-- Notifications -->
                <!--<a class="text-reset me-3 dropdown-toggle hidden-arrow"
                   href="#"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>-->
                <!-- Avatar -->
                @*<a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <img src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                             class="rounded-circle"
                             height="25"
                             alt=""
                             loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>
                    </ul>*@
            </div>
            <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        @*<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown link
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>*@

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()


        </main>
        <button type="button" href="11" class="btn btn-info" id="top">Do góry!</button>
    </div>

    <footer class="border-top text-muted">
        <div class="container">
            &copy; 2021 - PortalMonti.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/onlineUsersHub").build();

        connection.on("UpdateOnlineUsers", function (count) {
            document.getElementById("onlineUsersCount").innerText = count;
        });

        //$(document).ready(function () {
        //    $('a[href^="11"]').on('click', function (e) {
        //        e.preventDefault();
        //        var target = this.hash;
        //        var $target = $(target);
        //        $('html, body').animate({
        //            'scrollTop': $target.offset().top
        //        }, 1000, 'swing');
        //    });
        //}); //nie pamieam czemu zakomentowane xd
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#top').fadeIn();
                }
                else {
                    $('#top').fadeOut();
                }
            });
            $('#top').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 500);
            });
        })


    </script>



</body>
</html>
