@model PortalMonti.Application.ViewModels.Post.ListPostForListVm




<div>


    @{int indexBtn = 0;
        int indexCom = 10;
    }
    @foreach (var post in Model.Posts)
    {

        indexBtn++;
        indexCom++;



        <!--- \\\\\\\Post-->
        <div id="post" class="card gedf-card" @*style="margin-bottom:5px; margin-top:5px;"*@>
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="50" height="50" src="~/upload/@post.Authorimage" alt="">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0">@post.Author</div>
                            <div class="h7 text-muted">@post.Date</div>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                <div class="h6 dropdown-header">Configuration</div>
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Hide</a>
                                <a class="dropdown-item" href="#">Report</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
                <a class="card-link" href="#">
                    <h5 class="card-title">@post.Name</h5>
                </a>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    @if (post.PostImage != null)
                    {
                        <a href="~/upload/@post.PostImage" data-lightbox="@post.PostImage"><img class="img-fluid" src="~/upload/@post.PostImage"></a>
                    }
                </div>
                <p class="card-text">
                    @post.Text

                </p>
            </div>
            <div class="card-footer">
                @*@Html.ActionLink("Edytuj", "EditPost", new { id = item.Id }) |
                    @Html.ActionLink("ViewPost", "ViewPost", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                @*@Html.ActionLink("Dodaj Komentarz", "AddComment", new { postId = post.Id })*@

                @*<a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>*@
                <button @*id="@post.Id"*@ value="@post.Id" onclick="showComments(@post.Id)" class="btnopen btn3 btn btn-success" style="margin-left:4px">Komentarze</button>
                @*<a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>*@
            </div>
        </div>

        //Komentarze
        <div class="card gedf-card" @*style="padding-top:5px"*@>
            <div id="@post.Id" style="display: none" class="comopen be-comment-block">
                @*<h5>Komentarze</h5>
                         @foreach (var com in ViewBag.Comments)
                         {
                             @if (com.PostId == post.Id)
                             {

                                 <div class="be-comment">
                                     <div class="be-img-comment">
                                         <a href="blog-detail-2.html">
                                             <img src="~/upload/@com.ProfileImage" alt="" class="be-ava-comment">
                                         </a>
                                     </div>
                                     <div class="be-comment-content">

                                         <span class="be-comment-name">
                                             <a href="blog-detail-2.html">@com.Author</a>
                                         </span>
                                         <span class="be-comment-time">
                                             <i class="fa fa-clock-o"></i>
                                             @com.Date
                                         </span>

                                         <p class="be-comment-text">
                                             @com.Text
                                         </p>
                                     </div>
                                 </div>
                             }
                         }

                         <div>
                             @await Html.PartialAsync("_AddCommentPartial", new PortalMonti.Application.ViewModels.Comment.NewCommentVm()
                    { PostId = post.Id })
                         </div>*@
            </div>
        </div>

        <!-- Post /////-->
    }
</div>

