
@model PortalMonti.Application.ViewModels.Post.ListPostForListVm;


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddPost">Dodaj  post</a>
</p>

@*<partial name="../Friend/_friendList.cshtml" />*@
@*@Html.Partial("../Friend/_friendList.cshtml")*@


<form asp-action="Index" asp-controller="Post" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Szukaj" />
        @if (Model.SearchString != String.Empty)
        {
            <a asp-action="Index">Back to List</a>
        }

    </div>


    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Tagi
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostTags)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "EditPost", new { id = item.Id }) |
                            @Html.ActionLink("ViewPost", "ViewPost", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

                @*<tbody>

                    <tr>
                        <td>
                           <partial name="_FriendForIndex" model="new ListFriendForListVm()"/>
                        </td>

                    </tr>

                </tbody>*@


        </table>
        
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling((double)Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
            
        </table>
        <div>
            @await Component.InvokeAsync("FriendList", new())
        </div>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="8" />
    </div>
</form>
<div>
    <div id="trainings" class="tab-pane ">
        <div class="col-sm-12 trainings">

        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
    
}